{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="user">
<h2>Agregar usuario</h2>

<form method="post" action="/admin/user/add">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name }}
    <br/>
    {{ form.surname.label }}
    {{ form.surname }}
    <br/>
    {{ form.username.label }}
    {{ form.username }}
    <br/>
    {{ form.email.label }}
    {{ form.email }}
    <br/>
    {{ form.password.label }}
    {{ form.password }}
    <br/>
    {{ form.confirm.label }}
    {{ form.confirm }}
    <br/>
    {{ form.active.label }}
    {{ form.active }}
    <br/>
    <input type="submit" value="Agregar usuario"/>
</form>
  {% for error in form.errors %}
    <p class="error">{{ form[error].label }} {{ form.errors[error][0] }}</p>
  {% endfor %}

</div>
{% endblock %}