{% extends "/admin/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="user">
<h2>Agregar usuario</h2>

<form method="post" action="/admin/user/add" class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Usuarios</legend>

    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name }}
    
    {{ form.surname.label }}
    {{ form.surname }}
    
    {{ form.username.label }}
    {{ form.username }}
    
    {{ form.email.label }}
    {{ form.email }}
    
    {{ form.password.label }}
    {{ form.password }}
   
    {{ form.confirm.label }}
    {{ form.confirm }}
    
    {{ form.active.label }}
    {{ form.active }}
    
    <br/>
    <input type="submit" class="pure-button pure-button-primary" value="Agregar usuario"/>
</fieldset>
</form>
  {% for error in form.errors %}
    <p class="error">{{ form[error].label }} {{ form.errors[error][0] }}</p>
  {% endfor %}

</div>
{% endblock %}