{% extends "/admin/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="user">

<form method="post" action="{{ form_action }}" class="pure-form pure-form-stacked">
    <fieldset>
        <legend>{{ title }}</legend>

    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name }}
    
    {{ form.surname.label }}
    {{ form.surname }}
    
    {{ form.username.label }}
    {{ form.username }}
    
    {{ form.email.label }}
    {{ form.email }}
    
    {% if form.password != None %}
    {{ form.password.label }}
    {{ form.password }}

   
    {{ form.confirm.label }}
    {{ form.confirm }}
    {% endif %}
    
    {{ form.active.label }}
    {{ form.active }}
    
    <br/>
    <input type="submit" class="pure-button pure-button-primary" value="{{ title }}"/>
</fieldset>
</form>
  {% for error in form.errors %}
    <p class="error">{{ form[error].label }} {{ form.errors[error][0] }}</p>
  {% endfor %}

</div>
{% endblock %}