{% extends "admin/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div id="content">
<h2>Listar categorias</h2>
<div class="page">
{% if categories.total != 0 %}
<table class="pure-table pure-table-bordered">
<thead>
<tr>
    <th>Nombre</td>
    <th colspan="3">Acciones</td>
</tr>
</thead>
<tbody>
{% for category in categories.items %}
<tr>
<td>{{ category.name }}</td>
<td>{{ category.description }}</td>
<td><a href="{{ url_for('admin.editcategory', category_id = category.id) }}" alt="Editar item">Editar</a></td>
<td><a href="javascript:void(null)" alt="Eliminar item" class="delete_item_category" id="{{ category.id }}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="pagination">
{% if categories.has_prev %}
    <a href="{{ url_for('admin.category', page = categories.prev_num) }}"><< Atrás</a>
{% else %}
<< Atrás
{% endif %} |

{% if categories.has_next %}
    <a href="{{ url_for('admin.category', page = categories.next_num) }}">Siguiente >></a>
{% else %}
Siguiente >>
{% endif %}
</div>

{% else %}

<p>No hay resultados que mostrar</p>

{% endif %}

<a class="pure-button pure-button-primary" href="{{ url_for('admin.addcategory') }}">Agregar categoria</a>
</div>

{% include '/admin/_dialog.html' %}
{% endblock %}