{% extends "admin/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div id="content">
<h2>Listar usuarios</h2>
<div class="page">
<table class="pure-table pure-table-bordered">
<thead>
<tr>
    <th>Usuario</td>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th colspan="2">Acciones</td>
</tr>
</thead>
<tbody>
{% for user in users.items %}
<tr>
<td>{{ user.username }}</td>
<td>{{ user.name }}</td>
<td>{{ user.surname }} </td>
<td><a href="{{ url_for('admin.edituser', user_id = user.username) }}" alt="Editar item">Editar</a></td>
<td><a href="javascript:void(null)" alt="Eliminar item" class="delete_item_user" id="{{ user.username }}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="pagination">
{% if users.has_prev %}
    <a href="{{ url_for('admin.user', page = users.prev_num) }}"><< Atrás</a>
{% else %}
<< Atrás
{% endif %} |

{% if users.has_next %}
    <a href="{{ url_for('admin.user', page = users.next_num) }}">Siguiente >></a>
{% else %}
Siguiente >>
{% endif %}
</div>
<a class="pure-button pure-button-primary" href="{{ url_for('admin.adduser') }}">Agregar usuario</a>
</div>

{% include '/admin/_dialog.html' %}
{% endblock %}